@import "tailwindcss";

body {
  background: #ecececd9; /* No quotes */
  color: white;
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}

@keyframes progress {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(400%);
  }
}

.animate-progress {
  width: 25%;
  animation: progress 1.5s ease-in-out infinite;
}
